absl-py
aiofiles
aiohttp
altair==5.0.1
blinker==1.4
boto3 @ file:///C:/Windows/TEMP/abs_4009c406-44ba-4406-8996-204d9b11202flt4kglbk/croots/recipe/boto3_1657820114895/work
botocore @ file:///C:/b/abs_807k4c4xt1/croot/botocore_1667495381641/work
cachetools
certifi
click
gitdb
gitpython
importlib-metadata
markdown-it-py
mdurl
numpy
pandas
Pillow==9.4.0
platformdirs
pyarrow==11.0.0
pydeck==0.8.0
Pympler
pytz
requests
rich
s3transfer
smmap
streamlit==1.25.0
tenacity
toml
typing-extensions
tzlocal
urllib3
validators
watchdog
webencodings
websocket-client
zipp
